html {
	-webkit-tap-highlight-color: transparent !important;
}

body {
	background-color: $base-color;
	color: $body-color;
	font-family: $font-primary;
	font-size: $font-size;
	font-weight: 500;
	min-height: 100vh;
}

a {
	color: $primary-color;

	&:hover {
		color: $body-color;
	}
}

h2,h3,h4,h5,h6 {
	font-weight: 500;
}

.page__width {
	margin: 0 auto;
	max-width: 940px;
}

.section__module {
	background-image: url('assets/images/bg_section.png');
	background-color: #fff;
	background-position: center bottom;
	background-repeat: no-repeat;
	padding: 20px;
}

.section__module--nopadding {
	padding: 0;
}

#particles-js {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
}