// Texto
$font-primary: 'Raleway', sans-serif;
$font-size: 16px;

// Colores 

$body-color: #212121;
$primary-color: #720ed7;
$secondary-color: #DDDDDD;
$base-color: #F4F4F4;
$overlar-color: rgba(34, 34, 34, 0.8);
$extra-color: #777;
$error: #f53d51;