.webcam__box {
	margin: 0 auto;
	width: 290px;
}

.webcam__live {
	background: url('assets/images/bg-webcam.png') center center no-repeat transparent;
	border: dashed 5px $base-color;
	position: relative;
	height: 200px;
	margin-bottom: 20px;
}

.webcam__render {
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}