// Texto
$font-primary: 'Roboto', sans-serif;
$font-size: 16px;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Colores 

$body-color: #1d2229;
$primary-color: #26c1ff;
$secondary-color: #858c94;
$base-color: #F4F4F4;
//$overlar-color: rgba(32, 37, 45, 1.000);
$overlar-color: rgba(0, 0, 0, 0.1);

$error: #cb373e;
$sucess: #8bc430;